<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

<body>
  <!-- HEADER -->
  <%- include('partials/header.ejs') %>
  <!-- HEADER -->


<table class="table table-hover container text-center rounded jumbotron my-5">
  <thead class="thead-dark rounded">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Username</th>
      <th scope="col">Shoe Size</th>
      <th scope="col">Shoes Count</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% members.forEach((member, index) => { %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= member.username %></td>
        <td><%= member.shoe_size %></td>
        <td><%= member.Shoes.length %></td>
        <% if (pageInfo.session.user.email == member.email) { %>
          <td><a href="<%= `/mylist` %>" class="btn btn-primary">View Profile<a></td>
        <% } else { %>
          <td><a href="<%= `/mylist/${member.id}` %>" class="btn btn-primary">View Profile<a></td>
        <% } %>
      </tr>
    <% }); %>
  </tbody>
</table>


  <!-- FOOTER -->
  <%- include('partials/footer.ejs') %>
  <!-- FOOTER -->
</body>

</html>