<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

<body>
  <!-- HEADER -->
  <%- include('partials/header.ejs') %>
  <!-- HEADER -->


  <main role="main">
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row">
          <!-- START -->
          <% shoes.forEach(shoe => { %>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="<%= `shoes/${shoe.name}.jpg` %>"
                  alt="<%= shoe.name %> ">
                <div class="card-body">
                  <h3 class="my-3"><%= `${shoe.brand} - ${shoe.name}` %> </h3>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <small>Product Name</small>
                      <%= shoe.name %>
                    </li>
                    <li class="list-group-item">
                      <small>Brand</small>
                      <%= shoe.brand %>
                    </li>
                    <li class="list-group-item">
                      <small>Type</small>
                      <%= shoe.type %>
                    </li>
                  </ul>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group my-3">
                      <a href="<%= `/mylist/addshoes/${shoe.id}` %>" class="btn btn-sm btn-outline-secondary">Add to My Profile</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
          <!-- END -->
        </div>
      </div>
    </div>
  
  </main>


  <!-- FOOTER -->
  <%- include('partials/footer.ejs') %>
  <!-- FOOTER -->
</body>

</html>