<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %> 
  <body>
    <!-- HEADER -->
    <%- include('partials/header.ejs') %>
    <!-- HEADER -->

    <!-- PROFILE CARD -->
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="" alt="<%= member.name %>">
      <div class="card-body">
        <h5 class="card-title"><%= member.name %> </h5>
        <ul class="list-group">
          <li class="list-group-item">
            <small>Username</small>
            <b><%= member.username %></b>
          </li>
          <li class="list-group-item">
            <small>Age</small>
            <b><%= member.age %></b>
          </li>
          <li class="list-group-item">
            <small>Shoe Size</small>
            <b><%= member.shoe_size %></b>
          </li>
        </ul>
        <% if (pageInfo.session.user.email == member.email) { %>
          <a href="<%= `/mylist/update/${member.id}` %>" class="btn btn-primary">Edit Profile</a>
        <% } %>
      </div>
    </div>
    <!-- PROFILE CARD -->

    <!-- SHOES LIST -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Type</th>
          <% if (pageInfo.session.user.email == member.email) { %>
            <th scope="col">Action</th>
          <% } %>
        </tr>
      </thead>
      
      <% if (pageInfo.session.user.email == member.email) { %>
        <a class="btn btn-primary" href="/explore">Add Shoes</a>
      <% } %>
      
      <tbody>
        <% member.Shoes.forEach(shoe => { %>
          <tr>
            <th scope="row"><%= shoe.id %></th>
            <td><%= shoe.name %></td>
            <td><%= shoe.brand%></td>
            <td><%= shoe.type %></td>
            <% if (pageInfo.session.user.email == member.email) { %>
              <td><a class="btn btn-danger" href="<%= `/mylist/delete/shoes/${shoe.id}` %>">Delete</a></td>
            <% } %>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <!-- SHOES LIST -->
    <form action="/community/addcomment/<%=member.id%>" method="POST">
      <textarea name="Comment"  value="">Add your comment</textarea>
      <input type="submit">
    </form>
    <%member.Comments.forEach(comment=>{%>
     <textarea style="text-align: center;margin: auto;width: 50%;border: 3px solid; padding: 10px;" name="mycomment" id="" cols="50" rows="3" readonly><%=comment.Comment%></textarea><br><br>
    <%})%>
    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %> 
    <!-- FOOTER -->
  </body>
</html>