<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>STUDENT</title>
</head>
<body>
    <div class="card text-center">
        <div class="card-header">
        </div>
        <br><br>
        <div class="card-body">
                <div class="container">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">username</th>
                                    <th scope="col">age</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0;i<contact.length;i++){%>
                                <tr>
                                    <td><%= `${contact[i].id} `%></td>
                                    <td><%= `${contact[i].first_name} `%></td>
                                    <td><%= `${contact[i].last_name} ` %></td>
                                    <td><ol>
                                        <%for(let j=0;j<contact[i].phoneNumber.length;j++){%>
                                            <li><%=contact[i].phoneNumber[j]%></li>
                                            <%}%>
                                    </ol></td>
                                    <td><%= `${contact[i].work_period} ` %></td>
                                    <td><%= `${contact[i].email} ` %></td>
                                    <td><%= `${contact[i].phase} ` %></td>
                                    <td><a href="/contacts/update/<%=contact[i].id%>">Edit</a><a  href="/contacts/delete/<%=contact[i].id%>" onclick="return confirm('are you sure?')"> Delete</a></td>
                                    <td><a href="/phonenumbers/add/<%=contact[i].id%>">Phone Number</a><a  href="/phases/add/<%=contact[i].id%>">Phase</a></td>
                                    <%}%>
                                </tr>
                            </tbody>
                        </table>
                        <br><br>
                        <button type="button" class="btn btn-outline-primary"><a href="contacts/add">ADD</a></button>
                        <br><br>
                </div>
        </div>
    </div>

</body>
</html>